// FONTS
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// COLORS
$color01: #D2D2D2;
$color02: #3D4451;
$color03: #627AF3;
$color04: rgba(0, 8, 19, 0.9);
$color05: rgba(37, 37, 53, 0.75);