@import '../global';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $baseFontColor;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #E1E2E1;
}