{% block footer %}
    <footer>
        <div class="footer-left">
            <span class="footer-copyright">
                <span>NextMetro-Rennes</span>
                <span class="copyright-container">
                    <img src="build/images/footer/copyright.svg" alt="Copyright Logo">
                </span>
                <span>Thomas Rousseau</span>
            </span>
        </div>

        <div class="footer-right">
            <div class="footer-links">
                <a class="linkedin" href="https://www.linkedin.com/in/tomrss/">
                    <img src="build/images/socials/linkedin.svg" alt="LinkedIn Logo">
                </a>

                <a class="github" href="https://github.com/8Thomas8">
                    <img src="build/images/socials/github.svg" alt="Github Logo">
                </a>
            </div>
        </div>
    </footer>
{% endblock %}