{% block header %}
    <header>
        <div class="header-left">
            <div class="logo-container">
                <img src="/build/images/logo.svg">
            </div>
            <span class="site-title">NextMetro-Rennes</span>
        </div>

        <div class="header-right">
            <button class="about-button">A Propos</button>
        </div>


    </header>
{% endblock %}