{% block header %}
    <header>

        <div class="header-background-overlay">

            <div class="header-nav-container">

                <div class="header-left">

                    <div class="logo-container">
                        <img src="/build/images/header/logo.svg" alt="NextMetro-Rennes Logo">
                    </div>

                    <span class="title-container">
                        <span class="site-title"><span class="blue">N</span>ext<span class="blue">M</span>etro</span>
                        <span class="site-subtitle blue">Rennes</span>
                    </span>

                </div>

                {# Bouton pour une future page about #}
                {# <div class="header-right"> #}
                {# <a class="about-link" href="#" title="A propos">A propos</a> #}
                {# </div> #}

            </div>

        </div>

    </header>
{% endblock %}